#global-container-header {
  display: flex;
  height: 15%;
  width: 100%;
  gap: 15%;
  align-items: center;
  background-color: #f26e34;
  .container-logo-ml-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      justify-content: start;
    }
    @media screen and (max-width: 500px) {
      img {
        width: 80%;
        height: 80%;
      }
    }
  }
  .container-title-landing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1 {
      color: white;
      font-size: 30px;
    }
    @media screen and (max-width: 500px) {
      h1 {
        font-size: 20px;
      }
    }
  }
}
