.global-container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  height: 70vh;
  .container-text-main-landing {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-buttons-main-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    button:hover {
      background: linear-gradient(40deg, orange 20%, red 100%);
      color: white;
    }
  }
  @media screen and (max-width: 500px) {
    .container-buttons-main-landing {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 80px;
    }
  }
}
